body {
    background-color: #0a0a0b;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #16161a;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.2);
    text-align: center;
    width: 320px;
    border: 1px solid #333;
}

h1 {
    color: #00f7ff;
    text-shadow: 0 0 10px #00f7ff;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    background: #1f1f23;
    border: 1px solid #00f7ff;
    border-radius: 8px;
    padding: 10px;
    color: white;
    width: 100%;
    outline: none;
}

button {
    background: #00f7ff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #00f7ff;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00f7ff;
}

.result-card {
    margin-top: 20px;
}

#city-name {
    font-size: 1.5rem;
    margin: 5px 0;
}

.temp-display {
    font-size: 4rem;
    font-weight: bold;
    color: #39ff14; /* Verde Neón */
    text-shadow: 0 0 15px #39ff14;
}

#description {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    color: #888;
}

